* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: monospace;
}

#video-grids {
    display: flex
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

.video-grid {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    background-color: none;
    border-radius: 20px;
    margin-right: 20px;
}

.video-grid-header{
    font-size: 15px;
    position: absolute;
    color: #f8f9fadb;
    margin-top: 75px;
    font-weight: 500;
}

video {
    display: block;
    flex: 1;
    object-fit: cover;
    border: 1px solid #000;
    max-width: 100px;
}

.mainclone {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.main_left {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.main_right {
    display: flex;
    flex: 0.2;
    flex-direction: column;
    background-color: rgb(6, 132, 153);
}

.main_controls_block {
    flex-direction: row;
    display: flex;
}

.main_controls {
    display: flex;
    flex-direction: row;
    background-color: #1C1E20;
    color: white;
    padding: 20px;
    justify-content: space-between
}

.main_controls_button {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 3px 10px;
    min-width: 80px;
    align-items: center;
    justify-content: center;
}

.main_videos {
    flex-grow: 1;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px 0px 40px;
}

.leave_button {
    background-color: #d52838eb;
    border-radius: 20px;
}

.main__message_container {
    padding: 20px 15px;
    display: flex;
    background: #f8f9faeb;
}

.main__message_container input {
    flex-grow: 1;
    background-color: transparent;
    color: black;
    border: none;
    outline: none
}

.main__chat_window {
    flex-grow: 1;
    overflow-y: auto;
    background: rgb(206 220 223);
}

.main_controls_button:hover {
    background-color: #686666;
    border-radius: 25px;
}

.main_right_header {
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    border-bottom: 2px solid #3d3d42;
}

.message {
    color: #343a40;
    list-style-type: none;
    margin: 0px 0px 5px 10px;
}

@keyframes animate {
    0% {
        background-position: 0% 100%;
    }
    50% {
        background-position: 100% 0%;
    }
    100% {
        background-position: 0% 100%;
    }
}


.modal-header-custom{
    background-color:#afdbaf;
    color: #000000;
}

.modal-url-input{
    width: 100%;
    font-size: 12px;
    padding: 0px;
    margin: 0px;
    font-weight: 500;
}

.modal-button-custom {
    line-height: 1;
    font-size: 12px;
    padding: 5px;
    border-radius: 7px;
    color: #fff;
    background: rgb(6, 132, 153);
    border: none;
    font-weight: 600;
}

#student-main-window-helptext{
    color: #ff6e6ed6;
    font-size: 18px;
}

